# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            docker-compose run app bundle install --jobs=4 --retry=3 --path vendor/bundle

      # Install yarn package
      - run: docker-compose run app yarn install

      # Database setup
      - run: docker-compose run app bundle exec rails db:create
      - run: docker-compose run app bundle exec rails db:schema:load

      # run tests!
      - run:
          name: run tests
          command: docker-compose run app bundle exec rspec
